@use "global" as *;
.btn {
  display: inline-block;
  position: relative;
  max-width: rem(202);
  width: 100%;
  font-size: rem(14);
  line-height: 1;
  font-weight: $regular;
  font-family: $english-font-family;
  color: $white;
  border:1px solid $main-green;
  padding: rem(16) rem(40);
  background-color: $main-green;
  z-index: 1;
}
.btn span::first-letter{
    text-transform:uppercase;
}
.btn::before {
  border: 1px solid $main-green;
  content: "";
  height: 100%;
  right: -4px;
  top: 4px;
  position: absolute;
  z-index: -999;
  width: 100%;
}
.btn span{
    display: inline-block;
    padding-right:rem(8);
}
.btn span::after {
    position: absolute;
    content: "";
    height: rem(6);
    width: rem(40);
    background-image: url(../images/common/button-arrow-white.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 45%;
    transform: translateY(-50%);
    margin-left: rem(8); /* 右側に余白を追加 */
}
.btn:hover span::after {
    background-image: url(../images/common/button-arrow-blue.png); /* ホバー時の背景画像 */
}
.btn::after{
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;  
    content: '';
    width: 100%;
    height: 100%;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
    z-index: -1;
}
.btn:hover{
    color: $main-green;
}
.btn:hover::after{
    transform: scale(1, 1);
}