@use "global" as *;
.campaign-list{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.campaign-list__image{
    aspect-ratio:280/188;
    @include mq('md'){
    aspect-ratio:333/223;
    }
}
.campaign-list__image img{
    object-fit: cover;
    height: 100%;
}
.campaign__body{
    padding: rem(16) rem(16) rem(24);
    background-color:$white;
    @include mq('md'){
    padding: rem(24) rem(16) rem(24);
    }
}
.campaign-list__content{
    border-bottom: 1px solid $main-green;
    padding-bottom: rem(5);
}
.campaign-list__category{
    font-size: rem(12);
    line-height: calc(22/12);
    font-weight: $regular;
    color:$main-green;
    border:1px solid $main-green;
    padding:rem(4) rem(12);
    @include mq('md'){
    padding:rem(6) rem(16);
    }
}
.campaign-list__title{
    font-size: rem(16);
    line-height: calc(24/16);
    font-weight: $medium;
    margin-top: rem(4);
}
.campaign-list__price-body{
    margin-top:rem(8);
    text-align: center;
    @include mq('md'){
        margin-top: rem(16);    
    }
}
.campaign-list__price{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap:rem(16);
    margin-top: rem(8);
    @include mq('md'){
        gap:rem(24); 
    }
}
.campaign-list__number{
    font-size: rem(20);
    line-height: 1;
    font-weight: $bold;
    font-family: $number-font-family;
    text-decoration:line-through;
    text-decoration-color: $red;
    text-decoration-thickness: rem(3);
    @include mq('md'){
        font-size: rem(24);
    }
}
.campaign-list__discount-number{
    font-size: rem(32);
    line-height: 1;
    font-weight: $bold;
    color:$main-green;
    font-family: $number-font-family;
    @include mq('md'){
        font-size: rem(40);
    }
}

